<div class="container container-page">
  <div class="row">
    <div class="col-sm-12 pb-5">
      <h3><%= @page.title %></h3>
      <p><%= @page.body.html_safe unless @page.body.nil? %></p>
    </div>
  </div>
  <div class="gptslot" data-adunitid="0"></div>
</div>