@media screen and (max-width: 575px){
  body footer{
    nav{
      padding: 0;
      ul{
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
      }

      .left,
      .center{
        ul{
          padding-bottom: 0;
        }
      }
    }
    .copyright-and-links{
      ul{
        padding-left: 0;
      }

      img.footer-logo{
        margin-left: auto;
      }

      span.copyright{
        text-align: center;
        display: block;
        margin: 15px 0;
      }
    }
  }

  body section#features{
    .row.feature-row{
      margin-top: 0;

      &:not(:first-child){
        margin-top: 0;
      }

      &:first-child{
        .feature{
          margin-top: 0;
        }
      }
    }
    .second-row .left{
      order: 2;
    }
    .feature{
      position: static;
      transform: none;
      margin: 40px 0;
    }
  }

  section#solutions .solution{
    &:not(:first-child){
      margin-top: 40px;
    }
  }
}
