@media screen and (max-width: 1199px){
  footer .copyright-and-links{
    img.footer-logo{
      display: block;
      margin-bottom: 5px;
      margin-right: auto;
    }
  }

  section#download{
    ul.categories{
      max-width: 240px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;

      li{
        display: block;
        margin: 0;
      }
    }
  }

  body section#hero{
    background-position-x: 70%;
  }
}
