@media screen and (max-width: 767px){
  section#solutions{
    .last{
      margin: 40px auto 0 auto;
    }
  }
  body footer nav{
    .right{
      border-left: 0;
    }
  }
  body section#about{
    padding: 100px 0;
    background-size: cover;
    background-position-y: top;
  }
}
