@media screen and (max-width: 767px){

  body .features{
    .row.feature-row{

      .left{
        padding-right: 15px;
      }

      .right{
        padding-right: 15px;
        padding-left: 15px;
      }

      &:not(:first-child){
        margin-top: 0;
      }

      &:first-child{
        .feature{
          margin-top: 0;
        }
      }
    }
    .second-row .left{
      order: 2;
    }
    .feature{
      position: static;
      transform: none;
      margin: 40px 0;
    }
  }

  body .what-else,
  body .features,
  body .download-now{
    padding: 100px 0;
  }
}
