@import "bootstrap";
@import "media_1199px";
@import "media_991px";
@import "media_767px";
@import "media_575px";
@import url("https://use.typekit.net/ipt6odz.css");
$font-family-primary: 'open-sans', sans-serif;
$font-family-secondary: 'domus', sans-serif;
$logo-width: 140px;
$footer-text: #bababa;

html,
body{
  font-family: $font-family-primary;
}

%vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%no-focus-outline{
  &:focus{
    outline: 0;
  }
}

%button{
  font-family: $font-family-secondary;
  color: white;
  height: 50px;
  display: inline-block;
  padding: 13px 30px;
  width: auto;
  max-width: 100%;
  border-radius: 30px;

  &:hover{
    text-decoration: none;
  }
}

%footer-links{
  a{
    color: #bababa;

    &:hover{
      color: #3a91d8;
      text-decoration: none;
    }
  }
}

@mixin placeholder(){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}
