@import "shared";

header {
  border-bottom: 1px solid #dddddd;
}

.about {
  position: relative;
  padding: 240px 0 135px;
  overflow-x: hidden;
  @media screen and (max-width: 767px) {
    padding: 100px 0;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    min-width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: image_url('about_bg_1.svg'), image_url('about_bg_2.jpg');
    background-repeat: no-repeat;
    background-position-x: 207px, 130%;
    background-size: 395px, 1200px;
    background-position-y: 79px, 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    @media screen and (max-width: 1199px) {
      background-position-x: 20%, 130%;
    }
    @media screen and (max-width: 991px) {
      background-position-x: 28%, 145%;
    }
    @media screen and (max-width: 767px) {
      background-position-x: 34%, 134%;
      background-position-y: 9%, top;
    }
  }

  .content {
    max-width: 675px;

    h2,
    p {
      color: #606060;
      margin-bottom: 30px;
    }

    p {
      font-weight: 300;

      a {
        color: $button-blue;
      }
    }

    .cta {
      background: $button-blue;
      @include button(#71c0ff, 13px 30px);
    }
  }
}
