/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
$header_bg: #2c2c2c;
$breadcrumb: #adadad;
$table_border: #ececec;

body,
html {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

header,
nav#navbar {
  background: $header_bg;
}

nav#navbar {
  .navbar-nav a {
    color: white;
    border: 1px solid $header_bg;
    border-radius: 20px;
    padding: 10px 20px;

    &:hover {
      color: #0090ae;
    }

    &.active {
      border-color: white;

      &:hover {
        color: white;
      }
    }
    @media screen and (max-width: 991px) {
      padding-left: 0;

      &.active {
        border: 0;

        &:hover {
          color: #0090ae;
        }
      }
    }
  }
}

.nav-container {
  justify-content: flex-end;
  font-size: 13px;
}

#breadcrumbs {
  font-size: 13px;
  color: $breadcrumb;
  font-style: italic;
  padding: 20px 0;
}

#mainContent {
  padding-bottom: 75px;
  color: #202124;
}

#mainContent > .container > .row > .left {
  h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 25px;
  }
}

#selectContainer {
  position: relative;
}

select#sort {
  background: none;
  border: none;
  color: $breadcrumb;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  cursor: pointer;
  padding-right: 15px;
  z-index: 1;

  &:focus {
    outline: 0;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $breadcrumb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -1;
}

label[for="sort"] {
  margin-right: 5px;
  margin-bottom: 0;
}

#hamburger {
  background-image: image_url('menu.png');
  background-size: 20px 14px;

  &:focus {
    outline: 0;
  }

  &.open {
    background-image: image_url('close.png');
  }
}

table#mainTable {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  tr {
    td:first-of-type {
      img {
        background: black;
        height: 115px;
        width: 80px;
        margin-right: 15px;
      }

      span {
        font-size: 20px;
        width: 225px;
        line-height: 1;
        font-weight: bold;
        text-align: left;
        color: #3c4043;
      }

      img,
      span {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}

table {
  width: 100%;
  box-shadow: 0 0 2px $table_border;

  tr:not(:last-child) {
    border-bottom: 1px solid $table_border;
  }

  tr {
    td:first-of-type,
    td:nth-of-type(2) {
      text-align: center;
      border-right: 1px solid $table_border;
    }

    td:first-of-type {
      padding: 10px;
      text-align: center;
    }

    td:nth-of-type(2) {
      img {
        width: 135px;
        background: black;
      }

      p {
        font-size: 13px;
        font-weight: bold;
      }
    }

    td:nth-of-type(3) {
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;

      img,
      span.number {
        vertical-align: middle;
        font-size: 18px;
      }

      img {
        position: relative;
        bottom: 1px;
      }

      p {
        color: $breadcrumb;
        font-size: 11px;
        font-style: italic;
      }
    }
  }
}

th {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid $table_border;
  font-size: 14px;
  color: #9a9a9a;
  font-weight: normal;
}

#mainContent > .container > .row > .right {
  h2 {
    font-size: 19px;
    font-weight: bold;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  h1 {
    font-size: 15px;
  }

  .row > .right {
    h1 {
      margin-bottom: 0;
      font-weight: bold;
    }

    .review {
      display: inline-block;

      img,
      span:not(.grey) {
        vertical-align: middle;
      }
    }
  }
}

span.grey {
  color: $breadcrumb;
  font-size: 13px;
}

.supplement {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer#bottom,
section#footerTop {
  background: $header_bg;

  ul {
    list-style-type: none;
    padding: 0;
  }
}

section#footerTop {
  padding: 90px 0;
  border-bottom: 1px solid black;
  @media screen and (max-width: 575px) {
    padding-top: 30px;
    border-bottom: none;
    padding-bottom: 0;

    .image-container,
    nav {
      padding: 0 15px;
    }
  }

  img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  li {
    padding-bottom: 10px;
  }

  a {
    color: white;

    &:hover {
      color: #0090ae;
      text-decoration: none;
    }
  }
}

footer#bottom {
  color: gray;
  font-size: 12px;
  padding: 25px 0;

  p,
  ul {
    margin: 0;
  }

  ul {
    text-align: right;
  }

  li {
    display: inline-block;
  }

  a,
  a:focus,
  a:hover {
    color: gray;
  }

  a {
    margin: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      text-align: center;
      margin-bottom: 10px;
    }

    ul {
      text-align: center;

      li:first-of-type a {
        margin-left: 0;
      }
    }
  }
}

button.navbar-toggler {
  border: 0;

  &:focus {
    outline: 0;
  }
}

a.navbar-brand {
  img#fern {
    width: 20%;
  }

  img#logoHeader {
    width: 80%;
  }
  @media screen and (max-width: 500px) {
    width: 78%;
    margin-right: 0;
  }
}

table#sideTable {
  max-width: 350px;
  box-shadow: none;

  th {
    display: none;
  }

  tr {
    border: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $table_border;
    }
  }

  td {
    border-right: 0;
    text-align: left;

    .left img {
      height: 90px;
      width: 70px;
      background: black;
    }
  }

  h1 {
    font-weight: bold;
    margin: 0;
  }

  .num-reviews {
    font-size: 11px;
    font-style: italic;
    color: $breadcrumb;
    margin-bottom: 5px;
  }

  img.brand {
    width: 60px;
    height: 27px;
  }

  .rating-container {
    vertical-align: middle;
  }
}
@media screen and (max-width: 1199px) {
  table#sideTable {
    box-shadow: 0 0 2px $table_border;

    th {
      display: table-cell;
    }
  }
}
