@import "shared";

section.free-downloads{
  padding: 75px 0;

  h1.section-header{
    font-size: 30px;
    margin-bottom: 60px;
  }

  .download{
    margin-bottom: 20px;

    .left{
      padding-left: 0;

      .square{
        display: inline-block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;

        &.pdf-converter{
          background: #df4466;
        }

        &.media-player{
          background: #f2a261;
        }

        &.video-file-converter,
        &.radio-app,
        &.zipfile-opener{
          background: #f4f4f4;
        }

        &.word-processor{
          background: #4c7fef;
        }
      }
    }

    .title{
      font-family: $font-family-secondary;
      font-size: 20px;
      font-weight: normal;
    }

    p.subtitle{
      color: #6c6c6c;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
