@import "shared";

.free-downloads{
  padding: 75px 0;

  .section-header{
    font-size: 30px;
    margin-bottom: 60px;
  }

  .Download{
    margin-bottom: 65px;
    cursor: pointer;

    .left{
      padding-left: 0;

      img{
        display: block;
        height: 72.5px;
        background: black;
      }
    }

    .right{
      padding-left: 0;

      h1{
        margin-bottom: 0;
      }

      .Download__title{
        font-family: $font-family-secondary;
        font-size: 20px;
        font-weight: normal;
      }

      .Download__subtitle{
        color: #6c6c6c;
        font-size: 13px;
        margin-bottom: 3px;
        line-height: 1.2;
      }

      .Download__os{
        color: #a0a0a0;
        font-size: 12px;
        font-weight: 300;
        font-family: $font-family-secondary;
      }
    }
  }
}
