@import "variables";

footer{
  background: black;
  color: $footer-text;
  font-family: $font-family-primary;

  .copyright-and-links{
    padding: 53px 0;
    border-top: 1px solid $footer-text;

    .footer-logo{
      max-width: $logo-width;
      vertical-align: middle;
      margin-right: 15px;
    }
    span.copyright{
      vertical-align: middle;
    }

    ul{
      margin-bottom: 0;
      list-style-type: none;
      text-align: right;
      @extend %vertical-center;
      @extend %footer-links;

      li{
        display: inline-block;
      }

      span.slash{
        padding: 0 20px 0 17px;
      }
    }
  }

  nav{
    padding: 80px 0;

    ul{
      list-style-type: none;
      padding: 40px 0;
      margin-bottom: 0;
      @extend %footer-links;

      li.category{
        a{
          color: white;
          font-weight: bold;
          font-size: 24px;
          font-family: $font-family-secondary;

          &:hover{
            color: #3a91d8;
          }
        }
      }

      li:not(.category){
        padding-top: 10px;
      }
    }

    .right{
      border-left: 1px solid $footer-text;

      ul{
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

section#solutions{
  text-align: center;
  padding-bottom: 100px;

  .background{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
    border-radius: 5px;
  }

  h4{
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
  }

  h2{
    font-size: 24px;
  }

  a{
    font-size: 14px;
    border: 1px solid white;
    &:hover{
      background: white;
      color: black;
      font-weight: bold;
    }
    @extend %button;
  }
}

section#intro{
  padding: 100px 0;
  .content{
    max-width: 400px;
    text-align: center;

    h1{
      font-weight: bold;
      font-size: 38px;
    }

    h3{
      font-weight: 500;
      font-size: 16px;
      margin: 30px 0;
    }

    a{
      background: #2ce560;
      box-shadow: 0px 4px 20px 0px #525252;
      @extend %button;
    }
  }
}

.home-background{
  background: image_url('home_bg.jpg') no-repeat top center;
  background-size: cover;
  color: white;
}

nav.navbar {
  font-family: $font-family-secondary;
  padding: 0;

  button.navbar-toggler{
    cursor: pointer;

    img{
      height: 25px;
    }

    @extend %no-focus-outline;
  }

  a.navbar-brand{
    padding: 0;
  }

  ul.navbar-nav{
    margin-left: auto;

    @media screen and (min-width: 992px){
      li.nav-item{
        a.nav-link{
          background: white;
          height: 100px;
          padding: 38px 15px;
        }

        &:hover{
          a.nav-link{
            font-weight: bold;
            background: #f4f4f4;
          }
          .dropdown-menu{
            display: block;
          }
        }
      }
    }

    .dropdown-menu{
      margin-top: 0;
      top: 98%;
      border-radius: 0;
      left: -1px;
      border: 0;
      box-shadow: 0px 5px 6px -3px #232323;

      a.dropdown-item{
        font-size: 14px;

        &:hover,
        &:focus{
          background: white;
          outline: 0;
        }

        div.sub{
          font-family: $font-family-primary;
          font-size: 12px;
          color: #bababa;
        }

        &:hover{
          div.main{
            font-weight: bold;
          }
          div.sub{
            color: #2f7ac0;
          }
        }
      }
    }
  }

  .nav-link{
    color: black;
  }

  .header-logo {
    width: 100%;
    max-width: $logo-width;
  }

  form.search-form{
    display: inline-block;
    width: 100%;
    max-width: 250px;

    .search-wrapper{
      position: relative;
    }

    .search-field{
      border: 1px solid #bbbbbb;
      padding: 7px 10px;
      font-size: 14px;
      width: 100%;
      @extend %no-focus-outline;
      @include placeholder(){
        color: black;
      }
    }

    .submit-btn{
      position: absolute;
      top: -1px;
      background: 0;
      border: 0;
      right: 2px;
      bottom: 0;
      cursor: pointer;
      @extend %no-focus-outline;

      img{
        width: 18px;
      }
    }
  }
}
