@import "bootstrap";
@import "shared";

h2.sidebar-header{
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

#mainTable{
  span.title a{
    font-size: 13px;
    font-weight: normal;
    color: #0090ae;
  }

  .view-now{
    background: #0090ae;
    color: white;
    padding: 5px;
    border-radius: 5px;

    &:hover{
      text-decoration: none;
    }
  }
}

#mainTable,
#sideTable{
  ul.points{
    padding-left: 16px;
    padding-top: 10px;
    margin-bottom: 5px;

    li{
      font-size: 14px;
      font-weight: normal;
      padding: 2px 0;
    }
  }
}

.bottom-description{
      padding-top: 20px;
}
