@import "shared";

section#solutions{
  text-align: center;
  padding-bottom: 100px;

  .background{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0;
    border-radius: 5px;
  }

  h4{
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
  }

  h2{
    font-size: 24px;
  }

  a{
    font-size: 14px;
    border: 1px solid white;
    &:hover{
      background: white;
      color: black;
      font-weight: bold;
    }
    @extend %button;
  }
}

section#intro{
  padding: 100px 0;
  .content{
    max-width: 400px;
    text-align: center;

    h1{
      font-weight: bold;
      font-size: 38px;
    }

    h3{
      font-weight: 500;
      font-size: 16px;
      margin: 30px 0;
    }

    a{
      background: #2ce560;
      box-shadow: 0px 4px 20px 0px #525252;
      @extend %button;
    }
  }
}

.home-background{
  background: image_url('home_bg.jpg') no-repeat top center;
  background-size: cover;
  color: white;
}
