@import "shared";

section.title-bar{
  text-align: center;
  .square{
    display: inline-block;
    height: 28px;
    width: 28px;
    background: black;
    vertical-align: middle;
    margin-right: 5px;
  }

  h1{
    display: inline-block;
    vertical-align: middle;
  }
}

section#hero{
  background: image_url('product_hero_bg.jpg') no-repeat top center;
  position: relative;
  height: 590px;

  .container,
  .row{
    height: 100%;
  }

  .content{
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    max-width: 530px;
    text-align: center;
    margin-left: auto;

    h1{
      font-size: 42px;
      margin-bottom: 20px;
    }

    h3{
      font-size: 22px;
      margin-bottom: 40px;
    }

    a{
      background: $button-green;
      box-shadow: $button-box-shadow;
      @extend %button;
    }
  }
}

section.cta{
  padding: 100px 0;
  text-align: center;

  h2{
    margin-bottom: 20px;
    padding: 0 20px;
  }

  a{
    background: $button-blue;
    @extend %button;
  }
}

section#features{
  padding-bottom: 150px;

  .feature{
    h1{
      font-size: 30px;
    }
    @extend %vertical-center;
  }
  .image-container{
    height: 0;
    padding-bottom: 71%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      background: #f4f4f4;
    }
  }
  .row.feature-row{
    &:not(:first-child){
      margin-top: 60px;
    }
    .left{
      padding-right: 28px;
    }
    .right{
      padding-right: 0;
      padding-left: 28px;
    }
  }
}

section#whatElse{
  text-align: center;
  background: $blue-background;
  color: white;
  padding: 150px 0;

  @media screen and (min-width: 1200px){
    .container{
      max-width: 1340px;
    }
  }

  h1,
  h2.sub-header{
    margin-left: 15px;
    margin-right: 15px;
  }

  h1{
    font-size: 30px;
    margin-bottom: 15px;
  }

  h2.sub-header{
    margin-bottom: 100px;
  }

  .what-else-point{
    img,
    h2,
    p{
      max-width: 304px;
      margin-left: auto;
      margin-right: auto;
    }
    img,
    p{
      margin-bottom: 30px;
    }
    img{
      width: 100%;
      display: block;
      border: 1px solid black;
    }
    h2{
      margin-bottom: 15px;
    }
  }
}

section#downloadNow{
  text-align: center;
  padding: 150px 0 50px;

  h1{
    font-size: 30px;
    margin-bottom: 15px;
  }

  h2.sub-header{
    margin-bottom: 70px;
  }

  p.instruction{
    font-family: $font-family-secondary;
    font-size: 13px;
    color: #8e8e8e;
    margin-bottom: 10px;
  }

  .download{
    border: 1px solid #bfbfbf;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 90px;
    margin-bottom: 80px;

    .square{
      height: 78px;
      background: black;
      width: 78px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    h2{
      font-weight: bold;
      margin: 20px 0;
    }

    a{
      background: $button-blue;
      @extend %button;
    }

    p{
      margin-bottom: 44px;
    }
  }

  small{
    display: block;
    font-size: 12px;
    color: #a5a5a5;

    &.first{
      margin-bottom: 10px;
    }

    a{
      &,
      &:hover{
        color: #3891d8;
      }
    }
  }
}
