<section class="download">
  <h1>Have a look at our software.</h1>
  <h2>With one click you can see all of the apps we have to offer.</h2>
  <%= link_to 'VIEW SOFTWARE', downloads_path %>
  <hr>
  <ul class="categories">
    <% @products.each do |product| %>
      <li><%= image_tag 'tick.svg' %><span><%= product.title %></span></li>
    <% end %>
  </ul>
</section>
