<div class="laptop-container">
    <%= image_tag 'home_laptop.png', class: 'laptop-background'  %>
</div>
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
            <h1><%= t("#{@product.slug}.product.main_header") %></h1>
            <h3><%= t("#{@product.slug}.product.sub_header") %></h3>
            <%= link_to "DOWLOAD #{@product.title.upcase}", product_path(@product.slug) %>
        </div>
      </div>
    </div>
  </div>
</section>
