<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
            <h1><%= t("#{@product.slug}.home.header") %></h1>
            <h3><%= t("#{@product.slug}.home.sub_header") %></h3>
            <%= link_to "DOWLOAD #{@product.title.upcase}", '', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</section>
