<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
            <h1><%#= t("#{@product.slug}.home.header") %>The most powerful pdf experience is now the most connected.</h1>
            <h3><%#= t("#{@product.slug}.home.sub_header") %>Introducing the best acrobat ever - built for today's cloud connected, multi-device world. Share and review PDFs with you team just as easily on the train as from your office.</h3>
            <%= link_to "DOWLOAD #{@product.title.upcase}", '', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</section>
