<section id="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 left">
        <%= render 'application/main_content/left' %>
      </div>
      <div class="col-xl-4 right">
        <%= render 'shared/side_table' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="bottom-description">
          <p>Protein is an essential part of our diet and plays a role in so many of our body functions. Protein is a building block for our skin, hair, nails and of course muscles, making it an incredibly important dietary requirement. Protein is of course found in a number of foods such as meats, nuts, legumes, vegetables and fruits, but with many of us being more active, do we get enough protein?</p>
          <p>Pumping iron at the gym boosts your recommended daily protein requirements so that your muscles can rebuild and become bigger and stronger. This means that you'll either have to eat a lot more protein-filled foods, or you can reduce your calorie intake, and supplement your protein with a trusty delicious protein shake.</p>
          <p>Whey is a very popular source of protein as it is one of the purest forms of protein, meaning you get a muscle boosting load of protein, without extra fats and carbs. It is a byproduct of making cheese which means that it's a very concentrated source of protein giving it a popularity like none other in the protein world. But how do you know which protein is the best? Well we've done the hard work and compiled this refined list of the best whey proteins in the biz for you after trawling through hundreds of whey protein brands. We've made sure to find proteins that are super clean so that you aren't filling up on additives and fillers, to ensure that you get the most out of your workouts with a great protein source.</p>
          <p>When selecting our list of top whey protein, we have chosen powders that have excellent:</p>
          <ul>
            <li>Flavour</li>
            <li>Ease of mixing</li>
            <li>High protein to low fat and carb ratio</li>
            <li>Effectiveness</li>
            <li>Ease of digestion</li>
            <li>Price</li>
            <li>Protein Concentration</li>
            <li>Lack of fillers and artificial additives</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
