<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    OFFICE SOLUTIONS
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">
      <div class="main">
        ACTION
      </div>
      <div class="sub">
        sub-text
      </div>
    </a>
    <a class="dropdown-item" href="#">
      <div class="main">
        ACTION
      </div>
      <div class="sub">
        sub-text
      </div>
    </a>
    <a class="dropdown-item" href="#">
      <div class="main">
        ACTION
      </div>
      <div class="sub">
        sub-text
      </div>
    </a>
  </div>
<li class="nav-item dropdown">
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      MEDIA
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">
        <div class="main">
          ACTION
        </div>
        <div class="sub">
          sub-text
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="main">
          ACTION
        </div>
        <div class="sub">
          sub-text
        </div>
      </a>
      <a class="dropdown-item" href="#">
        <div class="main">
          ACTION
        </div>
        <div class="sub">
          sub-text
        </div>
      </a>
    </div>
<li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SUPPORT
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">
          <div class="main">
            ACTION
          </div>
          <div class="sub">
            sub-text
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="main">
            ACTION
          </div>
          <div class="sub">
            sub-text
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="main">
            ACTION
          </div>
          <div class="sub">
            sub-text
          </div>
        </a>
      </div>
