<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h2>At Awoolo, our aim is provide you with a simple method of accessing and downloading the newest versions of the best software - without excessive pop-ups or the disappointment of downloading low quality software.</h2>
          <p>Technology is influencing our lives more than ever before. Documents, calendars, transportation and even food can be organised by the click of a button. Software is constantly evolving to help make this process even easier and Awoolo are proud to offer that Software absolutely free. Head over the our Downloads & Installs page to see what we have to offer.</p>
          <%= link_to 'VIEW SOFTWARE', downloads_path %>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @download %>
  <%= render 'application/download' %>
<% end %>
