<section class="title-bar">
  <h1>AWOOLO FREE DOWNLOADS</h1>
</section>
<section class="free-downloads">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="section-header">
          <div class="col-sm-12">
            Free Downloads.
          </div>
        </h1>
        <div class="col-sm-4 download">
          <div class="container">
            <div class="row">
              <div class="col-sm-3 left">
                <div class="square pink"></div>
              </div>
              <div class="col-sm-9">
                <h1 class="title">PDF CONVERTER</h1>
                <p class="subtitle">
                  Easily convert your documents to PDF format.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @download %>
  <%= render 'application/download' %>
<% end %>
