<body class="home-page">
  <header>
    <section class="search">
      <div class="container">
        <div class="logo">
          <%= image_tag 'searchbe-logo.png' %>
        </div>
        <div class="search-bar">
          <form action="https://results.searchbe.com/dynamiclander/" method="GET">
            <input type="text" name="q" id="search-input" value="">
            <button>
              <%= image_tag 'magnifier.png' %></button>
          </form>
        </div>
      </div>
    </section>
  </header>
  <footer>
    <nav>
      <div class="container">
        <div class="logo">
          <a target="_blank" href="/">
            <%= image_tag 'searchbe-logo.png' %></a>
        </div>
        <a target="_blank" href="http://results.searchbe.com/lgl/Searchbecom_PrivacyPolicy.pdf">PRIVACY</a>
      </div>
    </nav>
  </footer>
</body>