<%= render 'application/header' %>

<section id="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Reviews > Whey Supplement
      </div>
    </div>
  </div>
</section>

<%= render 'application/main_content' %>

<%= render 'application/footer' %>
