<div class="nav">
  <%= image_tag 'searchbe-logo.png', class: 'nav-logo' %>
</div>

<body class="results-page">
  <header>    
    <section class="results">
      <div class="right">Related searches:</div>
      <%= render @lp %>
    </section>
  </header>

  <section class="search">
    <div class="container">
      <div class="search-bar">
        <%= image_tag 'searchbe-logo.png', class: 'logo' %>
        <form action="https://results.searchbe.com/dynamiclander/" method="GET">
          <input type="text" name="q" id="search-input" value="">
          <button>
            <%= image_tag 'magnifier.png' %></button>
        </form>
      </div>
    </div>
  </section>

  <footer>
    <nav>
      <div class="container">
        <a target="_blank" href="http://results.searchbe.com/lgl/Searchbecom_PrivacyPolicy.pdf">PRIVACY</a>
      </div>
    </nav>
  </footer>
</body>