<section class="TitleBar">

</section>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="section-header">
        Sorry this software is only available for Mac.
      </h1>
    </div>
  </div>
</div>
